@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global brand defaults */
body {
  @apply bg-brandBg text-brandText font-body;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
